body {
    background-color: #292929;
    color: #c8c8c8;
    display: flex;
    justify-content: center;
    /* 中央寄せに変更 */
    flex-wrap: wrap;
    /* 必要に応じて折り返し */
}

.containerCheckbox,
.containerRadio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0px;
    /* コンテナ間のスペースを調整 */
}

#addRadioList,
#addCheckboxList,
#addRadioGroup,
#addCheckboxGroup {
    width: auto;
    margin: 5px auto;
    text-align: center;
    display: block;
}

#radioNumber,
#checkboxNumber {
    width: 50px;
    margin: 5px auto;
    display: block;
}

.radioContainer,
.checkboxContainer {
    border: 1px solid rgb(170, 170, 170);
    margin: 2px;
    padding: 5px;
    min-height: 50px;
    /* 各リストの最小の高さ */
    width: 300px;
    max-width: 300px;
}

.checkboxContainer {
    background-color: rgba(200, 100, 100, 1);
}

.radioContainer {
    background-color: rgba(100, 100, 200, 1);
}

.checkboxContainer p,
.radioContainer p,
.checkboxContainer h3,
.radioContainer h3 {
    text-align: center;
}